<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test E2E">
<listeners>
	<listener class-name="E2EPractise.TestListeners" />

</listeners>
	<test name="Test1">
	<classes>
		<class name="E2EPractise.HomePage"/>
		
		</classes>
		</test>
		<test name="Test2">
	<classes>
		<class name="E2EPractise.ValidateNavigation"/>
		</classes>
		</test>
		
		<test name="Test3">
	<classes>
		<class name="E2EPractise.ValidateTitle"/>
	</classes>
	
	</test>

</suite>
